<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Matteo Bruni</title>
	<meta name="Keywords" content="Matteo, Bruni, iOS, Developer, .NET, C#, F#, Experienced, Lead" />
	<meta name="Description" content="Matteo Bruni Personal Website" />
	<meta name="Distribution" content="global" />
	<meta name="Robots" content="all" />
	<link href="img/favicon.png" type="image/png" rel="icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
		integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="css/custom.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/f3ad2fa4f6.js"></script>
	<link href="css/animate.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"
		integrity="sha512-X7kCKQJMwapt5FCOl2+ilyuHJp+6ISxFTVrx+nkrhgplZozodT9taV2GuGHxBgKKpOJZ4je77OuPooJg9FJLvw=="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
	<script src="js/wow.min.js"></script>
	<script src="https://unpkg.com/vue@2"></script>
</head>

<body class="bg-info">
	<div id="mapTooltip" style="display: none;">
		<img src="img/staticmap.png" style="width: 100px; height: 100px;" />
	</div>
	<div id="app"></div>
	<script type="text/x-template" id="mainContainer">
	<div>
		<div class="container">

			<div class="centered-pills hidden-print">

				<ul class="nav nav-pills">
					<li v-for="item in user.social" class="nav-item" :key="item.title">
						<a :href="item.url" target="_blank" class="nav-link">
							<i :class="'fa fa-' + item.className" :title="item.title"></i>
						</a>
					</li>
				</ul>

			</div>

			<div class="cv-wrapper">
                <div class="text-center">
                    <a href="index.html?lang=it" title="Italiano"><img src="img/flags/flags/flat/24/Italy.png" alt="Italy" /></a>
                    <a href="index.html?lang=en" title="English"><img src="img/flags/flags/flat/24/United-Kingdom.png" alt="English" /></a>
                </div>

				<hr>

				<header class="text-center cv-header">
					<h1 class="text-uppercase">{{user.name}}</h1>
					<p class="lead">
						{{user.jobTitle[language]}}
					</p>
				</header>

				<hr>

				<br>

				<div class="row">

					<div class="col-lg-7">

						<section class="cv-section">

							<h3 class="text-uppercase">// {{titles.aboutMe[language]}}</h3>

							<article class="wow" data-wow-delay=".1s">

								<div class="row">
									<div class="col-md-4 push-md-8 text-center">

										<img src="img/photo.jpg"
										     class="rounded-circle cv-portrait-photo img-fluid">

									</div>

									<div class="col-xs-12 col-md-8 pull-md-4">
										<div v-html="user.aboutMe[language]"></div>
									</div>

								</div>

							</article>

						</section>

						<section class="cv-section">

							<h3 class="text-uppercase">// {{titles.experiences[language]}}</h3>

							<article class="wow" data-wow-delay=".1s" v-for="experience in user.experiences"
							         :key="experience.startYear + '_' + experience.endYear">

								<h4>{{experience.company}}</h4>
								<p>
									<small class="text-info" v-if="experience.endYear"><strong>{{experience.jobTitle[language]}},</strong>
										{{experience.startYear}} {{titles.to[language]}}
										{{experience.endYear}}
									</small>
									<small class="text-info" v-else>
										<strong>{{experience.jobTitle[language]}},</strong>
										{{experience.startYear}} {{titles.present[language]}}
									</small>
								</p>
								<p>
									{{experience.jobDescription[language]}}
								</p>
								<p>
									<strong>{{titles.accomplishments[language]}}:</strong>
								<ul>
									<li v-for="accomplishment in experience.accomplishments">
										{{accomplishment[language]}}
									</li>
								</ul>
								</p>

								<hr>
							</article>

						</section>

					</div>

					<div class="col-lg-5">

						<section class="cv-section wow" data-wow-delay=".5s">
							<h3 class="text-uppercase">// {{titles.contact[language]}}</h3>

							<article class="media contact" v-for="contact in user.contacts" :key="contact.description">
								<div class="pull-left">
									<a class="contact-link bg-info text-white text-center" :href="contact.url"
									   v-if="contact.tooltip"
									   data-toggle="tooltip"
									   :data-tooltip-id="contact.tooltipId" data-placement="top">
										<i :class="'fa fa-' + contact.className"></i>
									</a>
									<a class="contact-link bg-info text-white text-center" :href="contact.url" v-else>
										<i :class="'fa fa-' + contact.className"></i>
									</a>
								</div>
								<div class="media-body">{{contact.description[language]}}</div>
							</article>
						</section>

						<section class="cv-section">

							<h3 class="text-uppercase">// {{titles.skills[language]}}</h3>

							<article>
								<div class="row">

									<div class="col-md-12 col-lg-12 wow" data-wow-delay=".5s"
									     v-for="skill in user.skills" :key="skill.group">

										<h4>{{skill.group[language]}}</h4>
										<hr>

										<skill v-for="item in skill.data" :key="skill.name" :skill="item"
										       :language="language"></skill>
										<br>

									</div>

								</div>
							</article>

						</section>

						<section class="cv-section">

							<h3 class="text-uppercase">// {{titles.hobbies[language]}}</h3>

							<article class="wow" data-wow-delay=".5s">
								<hobby v-for="hobby in user.hobbies" :key="hobby" :hobby="hobby"
								       :language="language"></hobby>
							</article>

						</section>

						<section class="cv-section" v-if="user.education != null">

							<h3 class="text-uppercase">// {{titles.education[language]}}</h3>

							<article class="wow" data-wow-delay=".3s" v-for="school in user.education.schools">

								<h4>{{school.name}}</h4>
								<p>
									<small class="text-info"><strong>{{school.degree[language]}}, </strong>{{school.year}}
									</small>
								</p>
								<p>
									<strong>{{titles.certifications[language]}}:</strong>
								<ul>
									<li v-for="certification in school.certifications">
										{{certification.type}}, {{certification.year}}
									</li>
								</ul>
								</p>
								<hr>

							</article>

							<article class="wow" data-wow-delay=".3s">

								<h4>{{titles.seminars[language]}}</h4>
								<p>
								<ul>
									<li v-for="seminar in user.education.seminars">{{seminar}}</li>
								</ul>
								</p>

							</article>

						</section>

					</div>

				</div>

				<hr class="hidden-print">
<!--
				<div class="text-center hidden-print">
					<a :href="'Matteo%20Bruni%20CV.' + language + '.pdf'" title="Donwload Resume PDF"
					   class="btn btn-info btn-lg">
						<i class="fa fa-download"></i>&nbsp; {{titles.downloadPdf[language]}}
					</a>
				</div>

			</div>
-->
		</div>

		<footer class="text-center cv-footer hidden-print text-white">
			<p>
				{{user.name}} &copy; 2017 {{user.jobTitle[language]}}
			</p>
			<a rel="me" href="https://mastodon.uno/@hollowmatt">Mastodon</a>
		</footer>
	</div>
</script>
	<script type="text/x-template" id="hobby">
	<div>
		<p><i class="fa fa-check"></i>&nbsp; {{hobby[language]}}</p>
		<hr>
	</div>
</script>
	<script type="text/x-template" id="skill">
	<div>
		<h6>{{skill.name[language]}}</h6>
		<div class="progress">
			<div class="progress-bar bg-info" :style="'width: ' + skill.level + '%'"></div>
		</div>
	</div>
</script>
	<script type="text/javascript">
		function getParameterByName(name, url) {
			if (!url) url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		$(document).ready(function () {
			var customLanguage = getParameterByName('lang');
			var currentLanguage = customLanguage || navigator.language || navigator.userLanguage;
			var shortLanguage = currentLanguage !== null ? currentLanguage.split('-')[0] : 'en';
			var jsonLanguage = 'en';

			switch (shortLanguage) {
				case 'it':
					jsonLanguage = 'it';
					break;
				default:
					jsonLanguage = 'en';
					break;
			}

			Vue.component('mainContainer', { template: '#mainContainer', props: ['user', 'language', 'titles'] });
			Vue.component('hobby', { template: '#hobby', props: ['hobby', 'language'] });
			Vue.component('skill', { template: '#skill', props: ['skill', 'language'] });

			var vue = new Vue({
				el: '#app',
				template: '#mainContainer',
				data: {
					user: {},
					titles: {
						aboutMe: {
							"it": "Su di me",
							"en": "About Me"
						},
						experiences: {
							"it": "Esperienze",
							"en": "Experiences"
						},
						to: {
							"it": "al",
							"en": "to"
						},
						present: {
							"it": "ad oggi",
							"en": "to present"
						},
						accomplishments: {
							"it": "Risultati",
							"en": "Accomplishments"
						},
						education: {
							"it": "Istruzione",
							"en": "Education"
						},
						certifications: {
							"it": "Certificazioni",
							"en": "Certifications"
						},
						seminars: {
							"it": "Seminari",
							"en": "Seminars"
						},
						contact: {
							"it": "Contatti",
							"en": "Contact"
						},
						skills: {
							"it": "Competenze",
							"en": "Skills"
						},
						hobbies: {
							"it": "Hobby",
							"en": "Hobbies"
						},
						downloadPdf: {
							"it": "Scarica CV PDF",
							"en": "Download PDF"
						}
					},
					language: jsonLanguage
				}
			});

			$.getJSON('matteo.json').done(function (data) {
				vue.user = data;
			});

			wow = new WOW({
				animateClass: 'animated fadeInUp',
				offset: 50,
				mobile: true
			});

			wow.init();

			$('body').tooltip({
				html: true,
				selector: '[data-toggle="tooltip"]',
				title: function () {
					return $('#' + $(this).data('tooltip-id')).html();
				}
			});
		});
	</script>
</body>

</html>
